{
  "root": true,
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [2, "as-needed"],
    "arrow-spacing": [2, {"before": true, "after": true}],
    "block-scoped-var": 2,
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "camelcase": [2, {"properties": "never"}],
    "comma-dangle": [2, "never"],
    "comma-spacing": 2,
    "comma-style": [2, "last"],
    "computed-property-spacing": [2, "never"],
    "consistent-this": [2, "self"],
    "constructor-super": 2,
    "curly": [2, "all"],
    "eol-last": 2,
    "eqeqeq": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "keyword-spacing": [2, {"before": true, "after": true}],
    "linebreak-style": [2, "unix"],
    "max-nested-callbacks": [2, 2],
    "new-cap": 2,
    "no-alert": 2,
    "no-cond-assign": [2, "except-parens"],
    "no-confusing-arrow": 2,
    "no-console": 2,
    "no-debugger": 2,
    "no-dupe-keys": 2,
    "no-empty": 2,
    "no-eq-null": 2,
    "no-extra-semi": 2,
    "no-inline-comments": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 0,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-nested-ternary": 2,
    "no-obj-calls": 2,
    "no-param-reassign": 0,
    "no-plusplus": 2,
    "no-self-compare": 2,
    "no-shadow": 2,
    "no-spaced-func": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": 2,
    "no-void": 2,
    "object-curly-spacing": [2, "never"],
    "one-var": [2, "never"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "double", "avoid-escape"],
    "prefer-rest-params": 2,
    "prefer-spread": 2,
    "semi": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "spaced-comment": [2, "always"],
    "template-curly-spacing": [2, "never"]
  }
}
